<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand ms-2" href="#">YelpCamp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/campgrounds">Campgrounds</a>
      <a class="nav-item nav-link" href="/campgrounds/new">New Campground</a>
    </div>
    <div class="navbar-nav ms-auto me-2">
      <% if(!currentUser) { %>
        <a class="nav-item nav-link" href="/users/register">Register</a>
        <a class="nav-item nav-link" href="/users/login">Log In</a>
        <% }else { %>
          <a class="nav-item nav-link" href="/users/logout">Log Out</a>
          <% } %>
    </div>
  </div>
</nav>